<div class = "comments-box-container">
  <div class = "comments-box">
    <% comments.each do |comment| %>
      <p class = "comment-box"><%= comment.author.name %>: <%= comment.text %></p>
    <% end %>
  </div>
</div>